<div class="row">

<%= render "shared/page_title", page_title: Financor::Invoice.model_name.human(count: 2), page_small_title: t("invoices.defaults.intro_message"), model_name: "invoices", model_path: "financor/invoices" %>

  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
<% content_for :init_scripts do %>
  <script>
    jQuery(document).ready(function() {       
      $("#invoice_company_financials").show();
    });
  </script>
<% end %>