<div class="row">
  
  <% content_for(:breadcrumb_actions, flush: true) do %>
    <%= render "actions", invoice: @invoice %>
  <% end %>

  <%= render "shared/page_title", page_title: Financor::Invoice.model_name.human(count: 2), page_small_title: t("invoices.defaults.intro_message"), model_name: "invoices", model_path: "financor/invoices" %>
  
	<%= render partial: "profile", locals: { invoice: @invoice } %>

</div>