<div id="finitem_show">
  <%= render "shared/page_title", page_title: t("simple_form.labels.finitem.finitems"), page_small_title: t("leads.defaults.intro_message"), model_name: "finitems", model_path: "financor/finitems" %>

  <div class="row">
  	<%= render partial: "profile", locals: { finitem: @finitem } %>
  </div>
</div>