<li class="btn-group">

  <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
    <span><%= t("simple_form.labels.defaults.action") %></span> <i class="fa fa-angle-down"></i>
  </button>
  <ul class="dropdown-menu pull-right" role="menu">
    <li>
      link 1
    </li>
    <li class="divider"></li>
    <li>
       link 2
    </li>
    <li class="divider"></li>
    <li>
      link 3
    </li>
  </ul>
</li>