<div class="row">

  <div class="col-md-12">

    <div class="portlet box grey">
		<%= render "shared/portlet_title", title: Financor::Finpoint.model_name.human %>
	    <div class="portlet-body">
	      <div class="portlet-body">
	        <%= render 'tab1' %>
	      </div>
	    </div>
    </div>
  </div>
</div>