<div id="finpoint_show">
  <%= render "shared/page_title", page_title: t("simple_form.labels.finpoint.finpoints"), page_small_title: t("leads.defaults.intro_message"), model_name: "finpoints", model_path: "financor/finpoints" %>
  <div class="row">
  	<%= render partial: "profile", locals: { finpoint: @finpoint } %>
  </div>
</div>