<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%= Financor::Taxcode.model_name.human(count: 2) %></h4>
    </div>

    <div class="modal-body">
      <div class="row" id="taxcodes_list_div">
        <%= render "financor/taxcodes/list" %>
      </div>

      <%= link_to t("simple_form.helpers.defaults.new", model: Financor::Taxcode.model_name.human), financor.new_taxcode_path, remote: true, class: "btn green" %>
      <div class="row" id="taxcode_form_div">
        <%#= render "financor/taxcodes/form" %>
      </div>
        
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t("simple_form.helpers.defaults.close") %></a>
    </div>


  </div>

</div>