<div class="col-md-12">
  <table class="table table-bordered table-hovered">
    <thead>
      <th class="col-md-3"><%= t("taxcodes.label.name") %></th>
      <th class="col-md-3"><%= t("taxcodes.label.rate") %></th>
      <th class="col-md-4"><%= t("taxcodes.label.code") %></th>
      <th class="col-md-2">#</th>
    </thead>

    <tbody id="taxcode_list">
      <%= render @taxcodes %>
    </tbody>
  </table>
</div>