<div class="col-md-12">
  <table class="table table-bordered table-hovered">
    <thead>
      <tr>
        <th class="col-md-3"><%= t("simple_form.labels.taxcode.name") %></th>
        <th class="col-md-3"><%= t("simple_form.labels.taxcode.rate") %></th>
        <th class="col-md-4"><%= t("simple_form.labels.taxcode.code") %></th>
        <th class="col-md-2">#</th>
      </tr>
    </thead>

    <tbody id="taxcode_list">
      <%= render @taxcodes %>
    </tbody>
  </table>
</div>