<% if @taxcode.errors.present? %>
  $("#messages").html('<div id="flash_notice" class="alert alert-error"><%= escape_javascript error_messages_for(@taxcode) %></div>');
  toastr.error('<%= j error_messages_for(@taxcode) %>');
<% else %>
  $("#taxcode_list").append('<%= j render @taxcode %>');
  $('#new_taxcode').each(function() { this.reset(); });
<% end %>
